<!DOCTYPE html>
<html>
<head>
	<title>Batman</title>
	 <!-- Bibliotecas Javascript -->
     <script type="text/javascript" src="js/jquery-1.7.2.min.js" ></script>
     <script type="text/javascript" src="js/jquery.backstretch.min.js" ></script> 
</head>
<body style='background-image: url("http://www.forumqroo.com/wp-content/uploads/2015/04/batman1.jpg"); background-size: cover;'>
	<div>
	<%= image_tag '' %>
		<h1 style="color: white;">"I'm Batman"</h1>
		
	</div>

</body>

</html>
 

