<!DOCTYPE html>
<html>
<head>
	<title>Superman</title>
	 <!-- Bibliotecas Javascript -->
     <script type="text/javascript" src="js/jquery-1.7.2.min.js" ></script>
     <script type="text/javascript" src="js/jquery.backstretch.min.js" ></script> 
</head>
<body>
	<div style="display: inline-block; width: 49%;">
		<img src="http://static.comicvine.com/uploads/original/11120/111206272/4363635-7178872974-36057.png" style="width: 100%;">
		<h1 style="color: white; text-shadow: 5px 5px 15px black;"><a href="http://localhost:3000/pages/superman">"This looks like a job for Superman"</a></h1>
		<%= image_tag '' %>
	</div>
	<div style="display: inline-block; width: 49%; text-align: center;">
		<img src="http://www.forumqroo.com/wp-content/uploads/2015/04/batman1.jpg" style="width: 100%;">
		<h1 style="color: white; text-shadow: 5px 5px 15px black;"><a href="http://localhost:3000/pages/batman">"I'm Batman"</a></h1>
		<%= image_tag '' %>
	</div>

</body>

</html>
 

