<!DOCTYPE html>
<html>
<head>
	<title>Superman</title>
	 <!-- Bibliotecas Javascript -->
     <script type="text/javascript" src="js/jquery-1.7.2.min.js" ></script>
     <script type="text/javascript" src="js/jquery.backstretch.min.js" ></script> 
</head>
<body style='background-image: url("http://static.comicvine.com/uploads/original/11120/111206272/4363635-7178872974-36057.png"); background-size: cover;'>
	<div>
	
		<h1 style="color: white; text-shadow: 5px 5px 15px black;">"This looks like a job for Superman"</h1>
		<%= image_tag '' %>
	</div>

</body>

</html>
 

